<a href="https://colab.research.google.com/github/Asimbaloch/machine-learning/blob/main/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Variable:
A defined name that refrences an Object.
variable_name = value

In [22]:
salary = 1000

In [23]:
salary

1000

In [24]:
salary = 10000
bonus_rate = .10

total_salary = salary + (salary * bonus_rate)
total_salary

11000.0

In [30]:
#Creating the variables for the job Description
job_id = 11
job_title = "Data Analyst"
job_wfh = True
job_salary = 100000

print ("JOb Description")
print ("*********")
print(job_id)
print(job_title)
print(job_wfh)
print(job_salary)

print (type(job_id))
print (type(job_title))
print (type(job_wfh))
print (type(job_salary))

print(f"JOB:{job_title}\nTitle : {job_title}\nWork from Home: {job_wfh}\nSalary: {job_salary}")

JOb Description
*********
11
Data Analyst
True
100000
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'int'>
JOB:Data Analyst
Title : Data Analyst
Work from Home: True
Salary: 100000

In [36]:
job_1 = "Data Analyst"
job_2 = "Data Analyst"


print(id(job_1),id(job_2))

136727980297264 136727980305456